<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ostadix.pixelai.probe">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />

    <!-- Required by the published ML Kit GenAI AAR manifests. -->
    <uses-permission android:name="com.google.android.apps.aicore.service.BIND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.google.android.aicore" />
        <package android:name="com.google.android.tts" />
    </queries>

    <application
        android:allowBackup="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:extractNativeLibs="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <!-- ML Kit's required initialization provider and component discovery. -->
        <provider
            android:name="com.google.mlkit.common.internal.MlKitInitProvider"
            android:authorities="org.ostadix.pixelai.probe.mlkitinitprovider"
            android:exported="false"
            android:initOrder="99" />

        <service
            android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService"
            android:directBootAware="true"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.ostadix.pixelai.probe.RUN_PROMPT" />
                <action android:name="org.ostadix.pixelai.probe.RUN_SUMMARY" />
                <action android:name="org.ostadix.pixelai.probe.RUN_IMAGE" />
                <action android:name="org.ostadix.pixelai.probe.RUN_SPEECH_STATUS" />
                <action android:name="org.ostadix.pixelai.probe.RUN_ALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
